#direita{
    transform: perspective(1000px) rotateY(30deg);
    transform-origin: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

@media (max-width: 670px) {
    .resolucao{
        display: none;
    }
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeIn {
    from{
        transform: translateX(300px) scale(0.5);
        transform-origin: right center;
    }
    to{
        transform: perspective(1000px) rotateY(30deg) translateX(0px) scale(1);
        transform-origin: center center;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes fadeOut {
    from {
        transform: perspective(1000px) rotateY(30deg) scale(1);
    }
    to {
        transform: translateX(300px) scale(0.5);
        opacity: 0;
    }
}

.swapIn {
    transform: perspective(1000px) rotateY(-90deg) translateZ(180px) scale(1);
    animation-name: swapIn;
    animation-duration: 500ms;
}

@keyframes swapIn {
    from {
        transform: perspective(1000px) rotateY(-90deg) translateZ(180px) scale(1);
        height: 27.5rem;
    }
    to {
        transform: perspective(1000px) rotateY(30deg) scale(1);
    }
}

.swapOut {
    transform: perspective(1000px) rotateY(30deg) scale(1);
    animation-name: swapOut;
    animation-duration: 500ms;
}

@keyframes swapOut {
    from {
        transform: perspective(1000px) rotateY(30deg) scale(1);
    }
    to {
        transform: perspective(1000px) rotateY(-78deg) translateZ(210px) scale(1);
        height: 27.5rem;
        opacity: 0.6;
        filter: blur(0);
    }
}