* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 212, 212);
}

