.esquerdaDireita{
    filter: blur(2px);
    opacity: 0.5;
    background-image: url("../../../public/imgs/fundoCarta.jpg");
    background-size: cover;
    background-position: center;
}

.modeloCarta{
    border-radius: 10px;
}